html{
    font-size: 10px;
}


body{
    background-color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    color: gold;

}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

summary{
    display: block;
    border-top: solid rgba(226, 10, 208, 0.603) 1px;
    padding: 2vh 0;
    font-size: 1.5em;
    width: 40vw;
    text-align: left;
    cursor: pointer;
    /* transition: all 0.5s 1s; */

}



summary::-webkit-details-marker {
    display: none;
}
details{
    text-align: center;
    cursor: pointer;
    transition: height 1s ease;
    overflow: hidden;
}
summary:hover::after {
    content: '\25BC';
    padding-left: 90%;
  }


  details:not([open]){
      height: 7vh;
  }
  
  details[open]{
      height: 80vh;
  }

details[open] > summary:hover::after {
    content: '\25B2';
    padding-left: 90%;
    
  }

img{
    max-width: 20vw;
    transition: 0.3s;
}

img:hover{
    max-width: 22vw;

}

.container:hover{
    color: blue;
}


